.btn-primary,
.btn-secondary {
    border-radius: 10px;

    padding: 1.5rem 5rem;
    font-size: 1.8rem;
    line-height: 4.5rem;
    font-weight: 500;
}

.btn-primary {
    background-color: $brand-main;
    line-height: 40px;
    font-weight: 500;
    color: $brand-black;
    transition: background-color 0.5s;
    color: $white;

    &:hover {
        background-color: $brand-black;
    }
}

.btn-secondary {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in;

    border: 1px solid $green;

    &:hover {
        border: 1px solid $brand-main;
        background-color: $brand-main;
        color: $white;
    }
}

.btn-project {
    backdrop-filter: blur(10px);
    background: rgba(119, 119, 119, 0.3);
    color: $white;
    padding: 0.1rem 3rem;
    border-radius: 48px;
    margin-top: 20px;
    font-size: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@include responsive($mobile) {
    .btn-primary {
        // line-height: 0.8rem;
        // height: 45px;
        padding: 0 2rem;
        font-size: 1.5rem;
    }
}
