.bg-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
}

.bg-grid-cell {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.02);
    transition: background-color 1.5s ease; // Slow fade out for trail effect

    &:hover {
        background-color: $brand-main;
        transition: background-color 0s; // Instant light up
        box-shadow: 0 0 10px $brand-main;
        z-index: 1;
    }
}