.s-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/hero-new.webp");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor: url('../img/paint.svg'), auto;

    .container {
        pointer-events: none; // Allow interaction with grid behind
    }

    &__text {
        text-align: center;
        position: absolute;
        width: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: auto; // Restore interactivity

        h1 {
            font-size: 56px;
            color: $white;

        }

        p {
            color: $gray-100;
            max-width: 70%;
            margin: 40px auto;
            font-size: 2.2rem;

            b {
                color: $brand-main;
                font-weight: 600;
                height: 5px;
            }
        }

        .btn-primary {
            padding: 0.5rem .5rem .5rem 2.5rem;
            display: inline-flex;
            width: 273px;
            justify-content: space-between;
            align-items: center;

            svg {
                background-color: $white;
                width: 42px;
                padding: 8px;
                border-radius: 10px;
                margin-left: 16px;
            }
        }
    }

    @include responsive(1350px) {
        &__text {
            h1 {
                font-size: 46px;
                color: $white;
            }
        }
    }

    @include responsive(1250px) {
        &__text {
            width: 80%;
        }
    }

    @include responsive($tablet) {
        &__text {
            width: 90%;

            h1 {
                font-size: 36px;
                color: $white;
            }
        }
    }

    @include responsive($mobile) {
        height: 100dvh;

        &__text {
            width: 100%;

            h1 {
                max-width: 90%;
                font-size: 3.2rem;
                color: $white;
                margin-left: 20px;

                text-align: left;
            }

            p {
                color: $gray-100;
                max-width: 90%;
                font-size: 1.8rem;
                text-align: left;
                margin-bottom: 20px;
                padding-right: 20px;
            }
        }

        .btn-primary {
            justify-content: space-between;
            width: 70%;
            font-size: 1.6rem;
            margin-top: 30px;
            text-transform: uppercase;
            align-items: center;
            white-space: nowrap;
            font-weight: 600;
        }
    }

    @include responsive(400px) {
        &__text {
            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 1.6rem;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        .btn-primary {
            padding: .6rem;
            font-size: 1.6rem;
            margin-top: 10px;
            justify-content: center;
            font-size: 1.4rem;

            svg {
                display: none;
            }
        }
    }
}