.s-service {
    @include paddingSection(90px);

    .d-flex {
        justify-content: space-evenly;
        margin-top: 40px;
        flex-wrap: wrap;
        div {
            width: 32%;
            text-align: left;
            transition:
                all 0.5s ease,
                background-size 0.5s ease;

             img {
                    border-radius: 10px;
                    
                }
            // &:hover {
            //     transform: scale(1.07);
            // }

            h4{
                color: $brand-red;
                margin-bottom: $gutter;
                margin-top: $gutter*4;
            }


            p {
                margin-top: $gutter;
                color: $gray-300;
                font-size: 16px;
                margin-bottom: $gutter*2;
            }
        }
    }

    @include responsive($tablet) {
        .d-flex {
            flex-direction: column;
            div {
                width: 90%;
                margin: 0 auto;
                text-align: center;
                img {
                    margin: 0 auto;
                }
                p {
                    margin-top: 10px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

.s-companys {
    overflow: hidden;
    background-color: #f8f8f8;
    padding: 2rem 0;

    .marquee-content {
        display: flex;
        // justify-content: center; // Removido para permitir o fluxo contínuo
        align-items: center;
        width: max-content;
        animation: marquee 20s linear infinite;

        img {
            margin: 0 3rem; // Espaçamento entre as logos
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); // Move metade da largura (assumindo que o conteúdo é duplicado)
    }
}
