.s-service {
    @include paddingSection(90px);

    .d-flex {
        justify-content: space-evenly;
        margin-top: 40px;
        flex-wrap: wrap;
        div {
            width: 32%;
            text-align: left;
            transition:
                all 0.5s ease,
                background-size 0.5s ease;

             img {
                    border-radius: 10px;
                    
                }
            // &:hover {
            //     transform: scale(1.07);
            // }

            h4{
                color: $brand-red;
                margin-bottom: $gutter;
                margin-top: $gutter*4;
            }


            p {
                margin-top: $gutter/2;
                color: $gray-300;
                font-size: 16px;
                margin-bottom: $gutter*2;
            }
        }
    }

    @include responsive($tablet) {
        .d-flex {
            flex-direction: column;
            div {
                width: 90%;
                margin: 0 auto;
                text-align: center;
                img {
                    margin: 0 auto;
                }
                p {
                    margin-top: 10px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

.s-companys {
    overflow: hidden;
    background-color: #f8f8f8;

    .marquee-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
