h1 {
    font-weight: 600;
    font-size: 6.4rem;
}

h2 {
    font-weight: bold;
    font-size: 4rem;
}

h3 {
    font-size: 2.4rem;
    line-height: 150%;
}

h4 {
    font-size: 2rem;
    line-height: 112%;
}
h1,
h2 {
    line-height: 112%;
    letter-spacing: -1px;
}
h3,
h4 {
    font-weight: 500;
    letter-spacing: -1px;
}

h1,
h2,
h3,
h4 {
    // font-family: "Barlow", sans-serif;
    font-family: "Inter", sans-serif;
    color: $brand-black;
}

p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
    color: rgb(103 100 100);
        font-family: "Inter", sans-serif;
}
.subtitle {
    color: $brand-red;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 auto;
    background-color: rgba(237, 158, 158, 0.164);
    padding: $gutter $gutter*2;
    border-radius: $border-radius*10;
}

.title-section {
    font-weight: 600;
    font-size: 3.5rem;
    margin-top: $gutter*3;
}
