//Cores
$white: #fff;
$brand-gray: #616161;
$brand-blue-light: #00a5f0;
$brand-main: var(--brand-main);
$brand-red: #d30404;
$brand-main-light: #00d7d7;
$brand-main-dark: #17544e;
$brand-black: #222E3C;
$black: #242424;

$green: #25D366;

//escalas de cinza
$gray-600: #33303e;
$gray-500: #4e4b59;
$gray-400: rgb(89, 89, 89);
$gray-300: #7a7786;
$gray-200: #c6c5ce;
$gray-100: #f1f0f5;

//Default
$gutter: 8px;
$border-radius: 4px;

//responsive
$mobile: "600px";
$tablet: "800px";
$laptop: "1024px";
$desktop: "1280px";